<!--<section id="portfolio">
  <div class="portfolio-section">
    <br>
    <h2>Portfolio</h2>
    
  </div>
</section>-->
<section id="two">
  <div id="wrapper">

    <!-- Intro -->
    <section id="portfolio" class="wrapper style1 fade-up">
      <div class="portfolio-section">
        <h1>Portfolio</h1>
        <div class="portfolio-container">


          <div class="portfolio-item">
            <img src="https://s3.eu-central-1.amazonaws.com/fabianfullstacksoftwaredeveloperpictures/ticketingsystem.jpg" alt="Norway" style="width:100%" class="">
            <div class="portfolio-item-text">
              <h4>Ticketing System</h4>
              <h5>C# ASP .NET, WebForms, SQL</h5>
              <p>Used by an engineering company to receive jobs from it's clients:</p>
              <ul>
                <li>Clients create maintenance tickets</li>
                <li>Office picks them up and resolves them or dispatches engineers</li>
                <li>Can attach pictures to tickets</li>
              </ul>
            </div>
          </div>
          <div class="portfolio-item">
            <img src="https://s3.eu-central-1.amazonaws.com/fabianfullstacksoftwaredeveloperpictures/stockcontrol.jpg" alt="Norway" style="width:100%" class="img-responsive">
            <div class="portfolio-item-text">
              <h4>Stock Control System</h4>
              <h5>C# ASP .NET, WebForms, SQL</h5>
              <p>Used by a wifi company for monitoring stock:</p>
              <ul>
                <li>Items tracked by barcodes from the moment they are purchased until they are installed</li>
                <li>Engineers sign out stock items using their PDAs</li>
                <li>Full visibility of the history of each stock item</li>
              </ul>
            </div>
          </div>
          <div class="portfolio-item">
            <img src="https://s3.eu-central-1.amazonaws.com/fabianfullstacksoftwaredeveloperpictures/taxreclaim.jpg" alt="Norway" style="width:100%" class="  img-responsive">
            <div class="portfolio-item-text">

              <h4>Tax Reclaim System</h4>
              <h5>C# .NET Core, MVC, SQL, AWS EC2, TypeScript, Docker, Jenkins, GitHub, VSTS</h5>
              <ul>
                <li>Large Agile software team</li>
                <li>CI and CD well estabilished using above mentioned tools</li>
                <li>I was a developer and occassionally a BA</li>
              </ul>
            </div>
          </div>
          <div class="portfolio-item">
            <img src="https://s3.eu-central-1.amazonaws.com/fabianfullstacksoftwaredeveloperpictures/fieldforce.jpg" alt="Norway" style="width:100%" class="  img-responsive">
            <div class="portfolio-item-text">
              <h4>Field Force Manager</h4>
              <h5>C# ASP .NET, WebForms, SQL</h5>
              <p>Used by an engineering company of over 50 employees:</p>
              <ul>
                <li>Auto-Assigns the best engineer for the job based on location, workload and skills</li>
                <li>Engineers have all details of the job on their PDAs</li>
                <li>Features a Schedule Board, Map View, Job completion questionnaire and Signature Capture</li>
              </ul>
            </div>
          </div>

          <div class="portfolio-item"><img src="https://s3.eu-central-1.amazonaws.com/fabianfullstacksoftwaredeveloperpictures/activitymonitor.jpg" alt="Norway" style="width:100%" class="">
            <div class="portfolio-item-text">
              <h4>Activity Monitoring Distributed System</h4>
              <h5>C# .NET REST Web Api, MVC, C# Windows Servicec, XML, SQL</h5>
              <ul>
                <li>Developed for a luxury hotel chain to monitor employee activity</li>
                <li>Windows service installed on each laptop sends usage data to the web api</li>
                <li>C# MVC Web App displays the results in charts and graphs</li>
              </ul>
            </div>
          </div>
          <div class="portfolio-item"><img src="https://s3.eu-central-1.amazonaws.com/fabianfullstacksoftwaredeveloperpictures/datingwebsite.jpg" alt="Norway" style="width:100%" class="">
            <div class="portfolio-item-text">
              <h4>Dating Website</h4>
              <h5>C# .NET, MVC, SQL, CSS, SignalR</h5>
              <ul>
                <li>Features pages such as: My Profile, My Matches, Inbox, Support etc… </li>
                <li>Contains a Match Finding Algorithm</li>
                <li>Supports Instant messaging</li>
                <li>(Site not live yet)</li>
              </ul>
            </div>
          </div>
          <div class="portfolio-item"><img src="https://s3.eu-central-1.amazonaws.com/fabianfullstacksoftwaredeveloperpictures/pic3.jpg" alt="Norway" style="width:100%" class="">
            <div class="portfolio-item-text">
              <h4>Multiple TSP Solver</h4>
              <h5>Angular, C# .NET Core, AWS, Docker, GitHub</h5>
              <ul>
                <li>Features a Demo site in Angular and a Serverless back end on AWS</li>
                <li>Advanced algorithm for solving the TSP with multiple salesmen</li>
                <li>Can be used by engineering companies to assign jobs to engineers</li>
              </ul>
            </div>
          </div>
          <div class="portfolio-item">
            <img src="https://s3.eu-central-1.amazonaws.com/fabianfullstacksoftwaredeveloperpictures/windowswebsite.jpg" alt="Norway" style="width:100%" class="">
            <div class="portfolio-item-text">
              <h4>Small Business websites</h4>
              <h5>Angular</h5>
              <p>Small website built for a small window installation company</p>
            </div>
          </div>
          <div class="portfolio-item"><img src="https://s3.eu-central-1.amazonaws.com/fabianfullstacksoftwaredeveloperpictures/onlineshop.jpg" alt="Norway" style="width:100%" class="">
            <div class="portfolio-item-text">
              <h4>Online Shop</h4>
              <h5>WordPress, AWS EC2</h5>
              <p>Built in WordPress and installed on AWS EC2</p>
            </div>
          </div>

        </div>
      </div>
    </section>
  </div>
</section>